.about {
    display: flex;
    justify-content: center;
}

video {
    width: 98.75vw;
    height: 100vh;
    margin: 0 auto;
    display: block;
    object-fit: fill;
}

.content {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aqua;
    text-align: justify;
}